@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(110deg, #343, #434);
}

h1,h2,h3,p {
    color: navy;
}

.container {
    margin-top: 10em;;
    padding: 1em;
    background: linear-gradient(110deg, #676, #767);
    border-radius: 2em;
    box-shadow: 0em 0em 0em 0.5em rgba(400, 400, 400, 0.9);
}

#progress {
    border-top: 0.1em solid #434;
    margin-top: 1.5em;
    
    letter-spacing: 0.1em;
    font-size: x-large;

}

.btn--default {
    padding: 0.6em 1.8em;
    border-radius: 0.5em;
    border: 0;
    color: navy;
}

.btn--default:hover {
    opacity: 0.75;
}

.btn--default:active {
    opacity: inherit;
}

footer {

}

footer p {

}